@import '~styles/variables';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;

  p {
    font-size: $font-size-lg;
    margin: 0;
  }
}

.avatarLink {
  padding: 0;

  img {
    border-radius: 3px;
  }
}
