@import '~styles/variables';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;

  div {
    min-width: 200px;
  }

  div:nth-child(2) {
    flex-grow: 1;
    text-align: center;
  }

  div:last-child {
    text-align: right;
  }
}

.avatarLink {
  padding: 0;

  img {
    border-radius: 3px;
  }
}
