@import '~styles/variables';
@import '~styles/buttons';

.container {
  display: flex;
  align-items: flex-start;
  padding: 0.8rem 0;
}

.subTitle {
  font-size: $font-size-med;
}

.viewerBtn {
  composes: btn;
  composes: btn-primary;
  margin-left: auto;
}
