@import '~styles/variables';

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.nav {
  display: flex;
  align-items: baseline;

  a {
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    border: none;

    &.active {
      background: #F5F5F5;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      font-weight: 500;
    }
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
  flex: 1;

  button:last-child {
    margin-left: 0.6rem;
  }
}
