@import '~styles/variables';
@import '~styles/buttons';

.container {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
}

.labelsContainer {
  display: flex;

  .subTitle {
    font-size: $font-size-med;
  }
}


.btnContainer {
  display: flex;

}

.headerBtn {
  composes: btn;
  composes: btn-primary;

  &:last-child {
    margin-left: 0.5rem;
  }
}
