@import '~styles/variables';

.container {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-right: 4rem;

  p {
    font-size: $font-size-med;
    font-weight: $font-weight-light;
  }
}
