@import '~styles/variables';

.container {
  border: 1px solid $gray-light;
  background-color: lighten($gray-light, 80%);
  border-radius: $border-radius-base;
  padding: 1rem;
  margin-bottom: 1rem;

  h4 {
    display: inline;
    padding-right: 1rem;
  }

  label {
    margin: 0 1.2rem 0 0.25rem;
  }
}
