<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>{{title}}</title>
  {{#each styles as |style|}}
  <link rel="stylesheet" href="{{style}}"/>
  {{/each}}
</head>
<body>

  <div class="container">
  {{{body}}}
  </div>

  {{#each scripts as |script|}}
  <script src="{{script}}"></script>
  {{/each}}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ['\\(','\\)'] ],
        displayMath: [ ['$$', '$$'], ["\[", "\]"] ],
        processEscapes: true
      }
    });
  </script>
  <script>
    anchors.options = {
        placement: 'left',
    };
    anchors.add();
  </script>

  {{> infoHeader}}

  <script>
    // control header visibility
    var prevScrollY = 0;

    document.addEventListener('scroll', function () {
      var infoEl = document.getElementById('info-header');
      var isScrollingDown = window.scrollY > prevScrollY;

      infoEl.style.top = isScrollingDown ? '-54px' : 0;
      prevScrollY = window.scrollY;
    })
  </script>

</body>
</html>
