/* document */

#document {
  counter-reset: figure 0 section 0;
}


/* Increment Figure Counter */
.content-node.image,
.content-node.resource {
  counter-increment: figure;
}
.content-node .caption {
  margin: 0px 80px;
  padding: 15px 0;
  text-align:justify;
  font-style: italic;
  text-indent: 0px;
  margin-bottom: 25px;
}
.caption > p {
}
.content-node .caption.empty {
  display: none;
}

/*
.content-node .caption:before {
  content: "Fig. " counter(figure) " ";
  font-weight: bold;
  padding-right: 12px ;
}
*/

.content-node.image {
  text-align: center;
}
.breakbefore {
 page-break-before: always;
}
.breakafter {
 page-break-after: always;
}
.breakboth {
  page-break-before: always;
  page-break-after: always;
}
.image-content {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
}
.image-content img, .image-content div {
  margin: 0;
  max-width: 650px;
  min-width: 200px;
  min-height: 150px;
  display: block;
  padding: 5px 5px;
  text-align: center;
}
.image-content.placeholder .image-file {
  bottom: 30px;
}

.figure {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 10px;
}

.figure img {
  margin: 0px 100px;
  max-width: 650px;
  min-width: 200px;
  min-height: 150px;
  display: block;
  padding: 5px 5px;
  text-align: center;
  float: center;
}

#document .resource-url-area .url-label {
  color: #555;
  padding-top: 10px;
  padding-bottom: 10px;
  font-style: italic;
}
#document .resource-url-area {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 20px;
  border: 2px dashed #aaa;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.content-node.resource {
  text-align: center;
}
.content-node.resource img {
  padding: 0;
  margin: 0;
  max-width: 650px;
  display: block;
  padding: 5px 0;
}

.content-node.section {
  margin-bottom: 10px;
}
#document h1 {
  page-break-before: always;
  counter-reset: sub-section;
  font-size: 24px;
  border-top:none;
  border-bottom:none;
  text-transform:none;
  padding-top: 175px;
}
#document h2 {
  counter-reset: composite;
  border-top:none;
  border-bottom:none;
  text-transform:none;
}

#document .header-section-number {
  font-weight: bold;
  margin-right: 20px;
}


/* Need -100px margin and 100 padding (TOP) to put heading href below navbar */
#document h1,
#document h2,
#document h3,
#document h4 {
  font-weight: normal;
  margin: -100px 100px 0 100px;
  padding-top: 125px;
  padding-bottom: 10px;
  line-height: 1.6em;
  color: black;
}

#document h5,
#document h6 {
  font-weight: normal;
  margin: -100px 100px 0 100px;
  padding-top: 110px;
  padding-bottom: 10px;
  line-height: 1.6em;
  color: black;
}

/* Drop down heading href below navbar (when <a id= ... /a> convention used) */
#document h1 a,
#document h2 a,
#document h3 a,
#document h4 a {
  margin: -100px 100px 0 100px;
  padding: 100px 0px 0px 0px;
  line-height: 1.6em;
}

#document h2 {
  font-size: 20px;
}
#document h3 {
  font-size: 18px;
  font-style: italic;
}
#document .content-node.text .content {
  padding: 10px 0;
}
.content-node.section > p, ol {
  margin: 0 100px;
}

code {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 12px;
  padding: 0px 3px;
  background: white;
  border: 1px solid #DDD;
  zoom: 1;
}

#document strong,
#document b {
  font-weight: bold;
}
#document em,
#document i {
  font-style: italic;
}
#document p {
  margin: 0px 100px 5px;
  min-height: 22px;
  text-indent:35px;
}
#document code {
  text-indent: 0px;
}
#document ol {
  padding-left: 20px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 90px;
  min-height: 22px;
}
#document ul, li {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 90px;
  min-height: 22px;
  min-width: 300px;
}

/* nested list indents -- http://doctype.com/changing-indentation-nested-lists-css */
#document ul ul {
  margin: 0px 0px 20px 20px;
  text-indent: -20px;
  min-height: 22px;
  -moz-padding-start: 0px;
  -webkit-padding-start: 0px;
  list-style-position: inside;
}
#document p + ul, ol {
  margin-top: 15px;
}

p {
  margin: 0 0 10px 0;
  text-align:justify;
}
p.info {
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px 0 5px 0;
}
h3,
h4,
h5,
h6 {
  padding-top: 20px;
}

h2 {
  font-size: 160%;
  padding-bottom: 15px;
}

/*  h5 as citation/reference subsection
h5 {
  margin: 0em 100px 0 55px;
  padding: 0;
  line-height: 0;
}

h5 + p {
  margin-bottom: -20px;
  text-align:justify;
  padding-bottom: 0px;
  padding-left: 35px ;
  text-indent: -60px ;
}
*/

/*  Text indentation for paragraphs if desired
h1+p,
h2+p,
h3+p,
p+p {
  text-indent: 5%;
}
*/

.content-node.document .document-title {
  font-size: 30px;
  line-height: 40px;
  padding-top: 100px;
  text-align: center;
  margin: 100px 100px 10px 100px;
}
.content-node.document .document-subtitle {
  font-size: 25px;
  font-style: italic;
  line-height: 30px;
  text-align: center;
  margin: 20px 100px 50px 100px;
}
.content-node.document .authors {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-top: 50px;
}
.content-node.document .author_afil {
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  text-align: center;
}
.content-node.document .author_email {
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}
.content-node.document .published {
  font-size: 18px;
  text-align: center;
  text-indent: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-node.document #document_lead {
  font-size: 18px;
  line-height: 1.2;
  font-style: italic;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 150px;
  color: #999;
  padding: 0 25px 0 25px;
}

hr {
	display:none
}


/* Citations & References http://www.vanseodesign.com/css/css-specificity-inheritance-cascaade/ http://www.thesitewizard.com/css/hanging-indents.shtml

#document h5 > p {
  margin: 0 100px;
  text-align:justify;
  min-height: 22px;
  padding-bottom: 15px;
  padding-left: 35px ;
  text-indent: -35px ;
}
*/

#document .references p {
  margin: 0 100px;
  text-align:justify;
  min-height: 22px;
  padding-bottom: 15px;
  padding-left: 35px ;
  text-indent: -35px ;
}

.footnotes ol:before {
  content: "Footnotes";
  font-weight: bold;
  font-size: 24px ;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  line-height: 3em;
}

#document #document_lens {
	display:none;
}
.footer{
	display:none;
}


.ui-font {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #111;
  -webkit-font-smoothing: antialiased;
}
.document-font {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-weight: lighter;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  text-align:justify;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
/* h5 for Reference/Citations
h5 {
  outline: 0;
  display: none;
  color: #fff;
  text-align:justify;
  vertical-align: baseline;
}
*/
table{
	margin-left:100px;
	margin-right:auto;
	margin-top: 20px;
	margin-bottom: 20px;

  border-collapse: separate;
  border-spacing: 0;
  min-width: 300px;
  max-width: 650px;

  line-height: 1.6em;
}
.footnotes {
	margin-top: 3em;
}
#document .footnotes p {
	margin-left: 0px;
}

body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
	line-height: 1.6em;
}

caption,
th,
td {
  font-weight: normal;
   padding-left: 7px;
   padding-right: 7px;
   padding-top: 4px;
}
th {
  text-align: center;
}

th > img {
  max-width: 320px;
  float: left;
}

td > img {
  max-width: 320px;
  float: left;
}

h5 + p > img {
  max-width: 650px;
  display: block;
  padding-left: 10px;
  padding-bottom: 50px;
}

h6 + p > img {
  max-width: 320px;
  float: left;
  display: block;
  padding-left: 10px;
}


caption {
  width: 275%;
  max-width: 650px;
  padding-bottom: 10px;
  padding-left: 65px ;
  text-indent: -65px ;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
/*
 Helpers
----------------------
*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.clear {
  clear: both;
}
.hidden {
  display: none;
}
.invisible {
  opacity: 0;
}
.right {
  float: right;
}
.left {
  float: left;
}
.nobr {
  white-space: nowrap;
}
.right-align {
  text-align: right;
}
.serif {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-weight: lighter;
  font-style: normal;
}
.italic {
  font-style: italic;
}
/* Common styles
-------------------------------------------------------------------------------*/
html {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
img {
  border: none;
}
body {
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #111;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: #F0F1EB;
  color: #444;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: #0000CD;
  padding: 0 0 1px 0;
}
a:hover {
  color: #000;
  border-bottom: 1px solid #999;
}

hr.separator {
  display: block;
  height: 1px;
  background: #c1c1c1;
  border: 0;
  margin: 0px;
}
hr.separator.nomargin {
  margin: 0px;
}
.border {
  border-top: 1px solid red;
  border-bottom: 1px solid green;
  margin-bottom: 15px;
}
/* Webkit Animation Settings */
li {
  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear;
}
a {
  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear;
}
label {
  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear;
}
input {
  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear;
}
textarea {
  -webkit-transition: background, background-color, border-color, color, opacity 0.35s linear;
}
img {
  -webkit-transition: opacity 0.35s linear;
}


/* body > #container > #content_wrapper
-------------------------------------------------------------------------------*/
#content_wrapper {
  position: relative;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  min-width: 1200px;
}
#document {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-weight: lighter;
  font-style: normal;
  width: 850px;
  color: #000;
  position: relative;
  margin: 0;
  margin-top: 100px;
  margin-left: 320px;
  padding: 0px 0 0px 0;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35), inset 0px 0px 1px rgba(255, 255, 255, 0.15);
  background: #fff;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 18px;
  line-height: 2em;
}
#document .document-separator {
  background: #000;
  width: 300px;
  height: 1px;
  margin: 50px auto;
}
/* Static version of document */
.content-fragment {
  margin: 0 100px;
}
pre {
  padding: 2px 10px 2px 15px;
  border-left: 4px solid #BBB;
  margin: 10px 100px;
}
/* Add comment */
#TOC {
	display:block;
  -webkit-transition-property: top;
  -webkit-transition-duration: 0.6s;
  position: fixed;
  overflow-x: scroll;
  width: 395px;
  left: -75px;
  top: 100px;
  height: 360px;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: #111;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-size: 14px;
}

#TOC > ul {
  list-style-type: none;
}

#TOC ul > li {
  text-indent: -20px;
  margin-left: 10px;
  text-align: left;
}

#TOC > ul > li > ul {
  margin-left: 10px ;
  margin-right: 35px ;
  line-height: 2em;
  list-style-type: none;
}

#TOC > ul a {
	border: none;
  color: #939393;
}
#TOC > ul a:hover {
  color: #444;
}

#TOC > ul > li > ul a {
  border: none;
  color: #939393;
}
#TOC > ul > li > ul a:hover {
  color: #444;
}

#TOC > p {
	whitespace: nowrap;
  margin-left: 90px ;
	font-weight: bold;
	font-size: 16px;
	color: #3a3a3a;
	line-height: 40px;
}

#TOC .toc-section-number {
  font-weight: bold;
  margin-right: 5px;
}

#document .section {
  position: relative;
  margin: 10px 0;
  -webkit-transition: min-height 0.5s;
  -moz-transition: min-height 0.5s;
}
.section.document {
  margin: 0;
  padding-bottom: 80px;
}


/* Numbering */


p.question {
  font-size: 25px;
  line-height: 1.5em;
  margin: 0 100px 0 100px;
  padding: 10px 0;
  font-style: italic;
}
.section.quote > p {
  margin: 0 100px;
  padding: 10px 0;
}
blockquote {
  display: table;
  margin: 10px 140px 10px 140px;
  font-size: 1em;
  line-height: 1.3em;
}
blockquote > div {
  display: table-row;
}
blockquote p {
  min-width: 200px;
  display: table-cell;
  padding: 0 0 10px 0;
  font-size: 1em;
  font-style: italic;
}
blockquote cite.quote-author {
  display: table-cell;
  padding: 20px 0 0;
  font-size: 11px;
  text-align: right;
}
/*
  References:
    .caption in "image.less"
*/
/* code */

/* Code blocks */

code, pre {
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size:12px;
}

pre, div.meta {
  padding: 0px 3px;
  background: #FDFEFB;
  border-radius: 4px;
  border:1px solid #D7D8C8;
  overflow: auto;
  overflow-y: hidden;
  margin-bottom: 12px;
  line-height: 1.5em;
}

p code, li code {
  display: inline-block;
  white-space: no-wrap;
  background: #fff;
  font-size: .9em;
  line-height: 1.5em;
  color: #555;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -khtml-border-radius: 0.4em;
  padding: 0px 3px;
  margin: -1px 0;
}

.proper-code {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 12px;
  padding: 0px 3px;
  background: white;
  border: 1px solid #DDD;
}


.footer{
	display: block;
	text-align:center;
	font-size:small;
	padding:.5em;
	margin-bottom:1em;
}


.section.level1 > p, ul, ol {
  margin: 0 100px;
}

.section.level2 > p, ul, ol {
  margin: 0 100px;
}

.section.level3 > p, ul, ol {
  margin: 0 100px;
}
