@import '~styles/variables';
@import '~app';

.container {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: $blue-bg;
  margin-top: 4rem;
  padding: 2rem;
  padding-bottom: 0;

  >:first-child {
    width: 20%;
  }

  >:not(:first-child) {
    width: 40%;
    padding-top: 0.3rem;
    color: $gray;
  }
}

.backBtn {
  composes: backBtn;
}

.listPane {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  button {
    background: transparent;
    border: 0;
    font-weight: $font-weight-light;
    color: $gray-dark;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }
  }
}

.listContainer {
  flex: 1;
  overflow: hidden;
}
