#info-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 54px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid lightgray;
  padding: 0.5em 1em;
  font-family: Helvetica, Arial, sans-serif;
  transition: 0.3s all;
  display: flex;
  justify-content: space-between;
}

a.info-link {
  opacity: 0.5;
}

a.info-link:hover {
  opacity: 1;
}
