#info-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 54px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid lightgray;
  padding: 0.5em 1em;
  font-family: Helvetica, Arial, sans-serif;
  transition: 0.3s all;
  display: flex;
  justify-content: space-between;
}

.header-links {
  display: flex;
}

.btn {
  border-radius: 3px;
  padding: 8px 10px;
  line-height: 1.3;
}

.btn-primary {
  border: 1px solid #0087b9;
  color: #fff;
  background-color: #0593c7;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%);
}

.btn-primary:hover {
  color: #fff;
  background-color: #04769f;
}

a.info-link {
  opacity: 0.5;
  margin-left: 0.5rem;
}

a.info-link:hover {
  opacity: 1;
}
