.idyll-root body {
  margin: 0;
}

.idyll-root {
  box-sizing: border-box;
  max-width: 90vw;
  margin: 0 auto;
  padding: 60px 0;
  margin-bottom: 60px;
  width: 600px;
  margin-left: 10vw;
}

.idyll-root .section {
  padding: 0 10px;
  margin: 0 auto;
}

.idyll-root .article-header {
  width: 600px;
  max-width: 90vw;
  margin-bottom: 45px;
}

.idyll-root .inset {
  max-width: 400px;
  margin: 0 auto;
}

.idyll-root input {
  cursor: pointer;
}

.idyll-root .relative {
  position: relative;
}
.idyll-root .aside-container {
  position: relative;
}
.idyll-root .aside {
  position: absolute;
  width: 300px;
  right: calc((10vw + 600px + 150px) / -2);
}

.idyll-root .fixed {
  position: fixed;
  display: flex;
  align-self: center;
  /*flex-direction: column;*/
  align-items: center;
  right: 25px;
  top: 0;
  bottom: 0;
  width: calc((80vw - 600px) - 50px);
}

.idyll-root .fixed div {
  width: 100%;
}

@media all and (max-width: 1600px) {
  .idyll-root {
    margin-left: 100px;
  }

  .idyll-root .fixed {
    width: calc((85vw - 600px) - 50px);
  }
}

@media all and (max-width: 1000px) {
  /* put your css styles in here */
  .idyll-root .desktop {
    display: none;
  }
  .idyll-root .relative {
    position: static;
  }
  .idyll-root .aside {
    position: static;
    width: 100%;
    right: 0;
  }

  .idyll-root .hed {
    width: 100%;
  }

  .idyll-root {
    padding: 15px 0;
  }

  .idyll-root {
    width: 90vw;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 80vh;
  }
  .idyll-root .fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    top: initial;
  }
}

