@import '../../shared/styles/variables'

.container {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: #CCEBEE;
  margin-top: 4rem;
  padding: 2rem;
  padding-bottom: 0;

  >:first-child {
    width: 30%;
  }
}
