.container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: white;
}

.previewWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
}
