@import '~styles/variables';
@import '~styles/buttons';

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 0.6rem;

  button {
    font-size: $font-size-med;
  }

  button:last-child {
    margin-left: 0.6rem;
  }
}
