@import '~styles/variables';
@import '~app';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5rem 4rem 3rem 0;

  p {
    font-size: $font-size-med;
    font-weight: $font-weight-light;
  }
}

.backBtn {
  composes: backBtn;
  padding: 0 0 5rem;
}
