@import '~styles/variables';
@import '~styles/buttons';

.container {
  background: #F5F5F5;
  height: 3rem;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.12);
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-left: 1.2rem;
  z-index: 200;
}

.tools {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.buttonGroup {
  display: flex;
  padding-right: 0.5rem;

  button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    border-right: 1px solid rgba(151, 151, 151, 0.4);
    padding: 0.2rem 0.8rem;

    &:last-child {
      border-right: none;
    }

    img {
      opacity: 0.4;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}

.modeToggle {
  composes: btn-group;
  composes: tools;
}

.toggleBtn {
  composes: btn;
  composes: btn-small;

  display: flex;
  align-items: center;

  &:hover, &.active {
    background: white;
    color: #000000;
  }

  * {
    padding: 0.2rem;
  }

  img {
    opacity: 0.4;
  }

  &:hover, &.active {
    img {
      opacity: 1;
    }
  }
}
