/*--------------------------------------------------------------------
*
* BUTTONS
*
--------------------------------------------------------------------*/

//- Default button styles

.btn
  border: 1px solid rgba(151, 151, 151, 0.4)
  border-radius: $border-radius-base
  font-family: $font-family
  font-size: $font-size-base
  color: rgba(0, 0, 0, 0.5)
  padding: $spacing-sm $spacing
  line-height: 1

  &:focus
    outline: none

//- Container for a few buttons next to each other
//- different from a button group

.btn-container
  .btn:not(:last-child)
    margin-right: 5px

//- Disabled button

.btn[disabled],
.btn-disabled
  cursor: not-allowed

//- Large button

.btn-large
  padding: $spacing-med $spacing-lg
  font-size: $font-size-med
  font-weight: 500

//- Small button

.btn-small
  padding: $spacing-xs $spacing-sm

//- Button with icon

.btn-icon
  padding: $spacing-xxs $spacing-xs

//- Button color variant: primary

.btn-primary
  border: none
  color: white
  background-color: #BCC700

  &:hover
    color: white
    background-color: darken(#BCC700, 10%)

  &:disabled,
  &:disabled:hover,
  .btn-disabled,
  .btn-disabled:hover
    background-color: none

//- Button color variant: outlined

.btn-outlined
  border: 1px solid $gray-light
  color: $gray
  background-color: white
  background-image: linear-gradient(to top, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%)

  &:hover
    color: $gray-dark

  &.btn-pressed
    color: lighten($gray, 20%)
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%)

  &:disabled,
  &:disabled:hover,
  .btn-disabled,
  .btn-disabled:hover
    color: lighten($gray, 20%)
    background-image: none

//- Full width button

.btn-full-width
  width: 100%

//- Button group

.btn-group

  .btn
    float: left

  .btn:not(:first-child):not(:last-child)
    border-radius: 0

  .btn:first-child
    border-top-right-radius: 0
    border-bottom-right-radius: 0

  .btn:last-child
    border-top-left-radius: 0
    border-bottom-left-radius: 0

  .btn + .btn
    margin-left: -1px

@media screen and (min-width: $breakpoint-sm)

  .btn-full-width
    width: auto
