/*--------------------------------------------------------------------
*
* MARGINS
*
--------------------------------------------------------------------*/

//- Reset all margins

.m0
  margin: 0
  
//- Top margins
//-  0, 10px, 20px, 40px
  
.mt0
  margin-top: 0

.mt-half
  margin-top: $spacing-sm
  
.mt1
  margin-top: $spacing

.mt2
  margin-top: $spacing-lg
  
//- Bottom margins
//-  0, 10px, 20px, 40px
  
.mb0
  margin-bottom: 0
  
.mb-half
  margin-bottom: $spacing-sm
  
.mb1
  margin-bottom: $spacing

.mb2
  margin-bottom: $spacing-lg
  
//- Left margins
//-  0, 10px, 20px, 40px
  
.ml0
  margin-left: 0
  
.ml-half
  margin-left: $spacing-sm

.ml1
  margin-left: $spacing

.ml2
  margin-left: $spacing-lg  

//- Right margins
//-  0, 10px, 20px, 40px  
  
.mr0
  margin-right: 0
  
.mr-half
  margin-right: $spacing-sm
  
.mr1
  margin-right: $spacing

.mr2
  margin-right: $spacing-lg