/*--------------------------------------------------------------------
*
* SECTIONS
*
--------------------------------------------------------------------*/

.section-dimmed
  border-top: 1px solid $gray-light
  border-bottom: @border-top
  background-color: lighten($gray-light, 80%)