/*--------------------------------------------------------------------
*
* VARIABLES
*
--------------------------------------------------------------------*/

//- Font sizes

$font-size-base =     16px
$font-size-sm =       14px
$font-size-med =      18px
$font-size-lg =       22px

//- Heading sizes

$font-size-h1 =       36px
$font-size-h2 =       30px
$font-size-h3 =       28px
$font-size-h4 =       24px
$font-size-h5 =       20px
$font-size-h6 =       18px

//- Font weights

$font-weight-light =  300
$font-weight-base =   400
$font-weight-header = 500
$font-weight-bold =   700

//- Line Height

$line-height-base =   1.5
$line-height-sm =     1.25

//- Font families

$font-family = "Roboto", Helvetica, Arial, sans-serif

//- Colors

$green-dark =         #02A251
$green =              #00D76A
$green-light =        #ACF5D0

$orange-dark =        #EE6D00
$orange =             #FF9A00
$orange-light =       #FFF3E2

$red-dark =           #7F0E00
$red =                #FF1C00
$red-light =          #FFF0EF

$gray-dark =          #333
$gray =               #979797
$gray-light =         #e2e2e2

$blue-dark =          #004C68
$blue =               #0593C7
$blue-light =         #E7F9FF

//- Radius

$border-radius-base = 5px

//- Spacing

$spacing   =          20px
$spacing-xl =         $spacing * 2
$spacing-lg =         $spacing * 1.2
$spacing-med =        $spacing * 0.75
$spacing-sm =         $spacing * 0.5
$spacing-xs =         $spacing * 0.25
$spacing-xxs =        $spacing * 0.15

//- Breakpoints

$breakpoint-sm =      480px
$breakpoint-md =      786px
$breakpoint-lg =      1000px
