@import '../../styles/variables'

.container {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: $blue-bg;
  margin-top: 4rem;
  padding: 2rem;
  padding-bottom: 1rem;

  >:first-child {
    width: 30%;
  }
}
