@import 'screens/App/shared/styles/variables'

@import 'screens/App/shared/styles/base'
@import 'screens/App/shared/styles/type'
@import 'screens/App/shared/styles/buttons'

@import 'screens/App/shared/styles/margins'
@import 'screens/App/shared/styles/panels'
@import 'screens/App/shared/styles/sections'
@import 'screens/App/shared/styles/lists'
@import 'screens/App/shared/styles/helpers'
@import 'screens/App/shared/styles/editor'
@import 'screens/App/shared/styles/alerts'

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F4F4F4;
}

.blue-bg {
  background-color: #CCEBEE;
}

header {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
}

footer {
  padding: 0 2rem;
}

.ace_gutter {
  background-color: #f5f5f5 !important;
}
