@import 'screens/App/shared/styles/variables'

@import 'screens/App/shared/styles/base'
@import 'screens/App/shared/styles/type'
@import 'screens/App/shared/styles/buttons'

@import 'screens/App/shared/styles/margins'
@import 'screens/App/shared/styles/panels'
@import 'screens/App/shared/styles/sections'
@import 'screens/App/shared/styles/lists'
@import 'screens/App/shared/styles/helpers'
@import 'screens/App/shared/styles/editor'
@import 'screens/App/shared/styles/alerts'

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  width: 100%;
}

main {
  display: flex;
  flex: 1;
  width: 100%;
}

footer {
  padding: 0 2rem;
}
