@import 'screens/App/shared/styles/variables'

@import '../../public/css/base.css'
@import 'screens/App/shared/styles/base'
@import 'screens/App/shared/styles/type'
@import 'screens/App/shared/styles/buttons'

@import 'screens/App/shared/styles/margins'
@import 'screens/App/shared/styles/panels'
@import 'screens/App/shared/styles/sections'
@import 'screens/App/shared/styles/lists'
@import 'screens/App/shared/styles/helpers'
@import 'screens/App/shared/styles/editor'
@import 'screens/App/shared/styles/alerts'

header {
  padding: $spacing 0;
  width: 100%;
}
