@import '../../shared/styles/variables'

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentArea {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 100%;
  background-color: white;
  border: 1px solid $gray-light;
  margin-bottom: 1rem;
}
